resources
!resources/icons
!resources/icon.png
node_modules
dist
out
*.log*
.DS_Store
target
testing-applets*
.running
*.dna
*.happ
*.webhapp
.cargo/
.hc*
*.tsbuildinfo
we.dev.config*
!we.dev.config.example.ts
*.AppImage
*.dmg
*.exe
*.deb

# vitepress
**/.vitepress/cache/**