name: test-workflow
on:
  push:
    branches: [ main, main-*, develop ]
  pull_request:
    branches: [ main, main-*, develop ]

jobs:
  build-moss:
    strategy:
      fail-fast: false
      matrix:
        # platform: [windows-2022]
        # platform: [ubuntu-22.04]
        platform: [ windows-2022, macos-13, macos-latest, ubuntu-22.04, ubuntu-22.04-arm ]
        # platform: [ubuntu-22.04-arm]
        # platform: [windows-2022, ubuntu-22.04]
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.13

    permissions:
      contents: write
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup for macOS code signing
        if: matrix.platform == 'macos-13' || matrix.platform == 'macos-latest'
        uses: matthme/import-codesign-certs@5565bb656f60c98c8fc515f3444dd8db73545dc2
        with:
          p12-file-base64: ${{ secrets.HBE_APPLE_CERTIFICATE_BASE64 }}
          p12-password: ${{ secrets.HBE_APPLE_CERTIFICATE_PASS }}

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: Retrieve version
        run: |
          echo "Retrieved App version: $(node -p -e "require('./package.json').version")"
          echo "APP_VERSION=$(node -p -e "require('./package.json').version")" >> $GITHUB_OUTPUT
        id: version
        shell: bash

      #- name: Install Rust
      #  uses: dtolnay/rust-toolchain@1.83.0

      - name: Install Go stable
        uses: actions/setup-go@v4
        with:
          go-version: 'stable'

      - name: Setup environment
        run: |
          mkdir resources/default-apps
          mkdir resources/bins
          yarn install

      - name: Build environment 1/2
        run: |          
          yarn build:libs
          yarn build:iframes
          yarn prepare:default-apps

      - name: Build environment 2/2
        run: |
          yarn fetch:binaries
          yarn check:binaries
          yarn install --check-files

      - name: Build zomes
        run: |
          rustup target add wasm32-unknown-unknown
          yarn build:zomes

      - name: Build example-applet
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          yarn workspace example-applet package     

      - name: Build cli
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          yarn build:cli

      - name: Build always-online-node
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          yarn workspace @theweave/wdocker build

      - name: Build app (macOS arm64)
        if: matrix.platform == 'macos-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_DEV_IDENTITY: ${{ secrets.APPLE_DEV_IDENTITY }}
          APPLE_ID_EMAIL: ${{ secrets.APPLE_ID_EMAIL }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          DEBUG: electron-osx-sign*,electron-notarize*
        run: |
          yarn build:mac-arm64
          ls dist

      - name: Build app (macOS x86)
        if: matrix.platform == 'macos-13'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_DEV_IDENTITY: ${{ secrets.APPLE_DEV_IDENTITY }}
          APPLE_ID_EMAIL: ${{ secrets.APPLE_ID_EMAIL }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          DEBUG: electron-osx-sign*,electron-notarize*
        run: |
          yarn build:mac-x64
          ls dist

      - name: Build app (Ubuntu 22.04)
        if: matrix.platform == 'ubuntu-22.04'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn build:linux
          ls dist

      - name: Build app (Ubuntu 22.04 aarch64)
        if: matrix.platform == 'ubuntu-22.04-arm'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # use fpm for correct architecture (see https://github.com/electron-userland/electron-builder/issues/6116)
          sudo apt-get install ruby-dev build-essential
          sudo gem install fpm
          export USE_SYSTEM_FPM=true

          yarn build:linux
          ls dist

      - name: Build app (Windows)
        shell: bash
        if: matrix.platform == 'windows-2022'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Retry 5 times on Windows due to weird flaky issue
          yarn build:win || yarn build:win || yarn build:win || yarn build:win || yarn build:win
          ls dist
